<link rel="stylesheet" href="/css/userhomepagestyle.css">
<body>
    <div class ="header">
        {{#each datas as |data| }}
        <h1>Welcome {{firstName}}</h1>
        {{/each}}
        <button id="createlog" class="btn btn-primary" type="submit">Create Log</button>
    </div>
    <div class="mainbody">
        <div class="chart-box">
            <canvas id="myChart"></canvas> 
        </div>

        <div class="log-box">
            <div>
                {{#each logdatas as |data|}}
                <div class="log-display">
                    <li>Date: {{date}}</li>
                    <li>Hours of Sleep: {{hours_of_sleep}}</li>
                    <li>Workouts Done: {{workout_type}}</li> 
                    <li>Workout Duration: {{workout_duration}}</li>
                    <li>Weight: {{weight}}</li>
                    <li>Mood: {{mood}}</li>
                    <li>Description: {{description}}</li>
                </div>
                {{/each}}
            </div>
        </div>
        
    </div>

<script src="./js/profile.js"></script>